body{
	min-width:1895px;
}
section{
	height:540px;
	width:100%;
	background:url("../images/common_images/login_background.png") top center no-repeat;
	background-size:cover;
	position:relative;
}
.login{
	width:450px;height:462px;
	background-color:rgba(255,255,255,.8);
	position:absolute;
	top:39px;right:200px;
}
.login .form-tab{
	width:320px;height:54px;
	margin:0px auto;
	display:flex;
	justify-content:between;
}
.login .form-tab span{
	color:#807d7d;
	display:inline-block;
	line-height:54px;
}
.login .form-tab a{
	display:inline-block;
	width:153px;
	height:54px;
	text-align:center;
	font-size:20px;
	color:#999;
	line-height:54px;
}
.login .form-tab a.hover{
	color:#16c08e;
	border-bottom:4px solid #16c08e;
}
.login .item{
	width:320px;height:50px;
	margin:9px auto;
	line-height:50px;
	position:relative;
}

.login .item span:first-child{
	display:inline-block;
	position:absolute;
	width:144px;
	left:0px;
}
.login .item span:last-child{
	display:inline-block;
	position:absolute;
	font-size:13px;
	width:126px;
	right:0px;
}
.login .item span:last-child a{
	color:#16c08e;
	text-decoration:underline;
}
.login .form{
	width:320px;height:255px;
	margin:0 auto;
}
.login .form>div p{
	font-size:12px;
	color:rgb(51,51,51);
}
.login .form>div a{
	display:inline-block;
	margin-right:20px;
}

.login .form .uname,.login .form .upwd,.login .form .button{
	width:100%;height:50px;
	margin-bottom:9px;
	border-radius:5px;
}
.login .form .item a{
	font-size:14px;
	color:#333;
}
.login .form .item a:nth-child(3){
	display:inline-block;
	position:absolute;
	right:0px;top:0px;
	text-decoration:underline;
}
.login .form .item a:nth-child(3):hover{
	color:#0cb95f;
}
.login .button{
	background:#0cb95f;
	color:#fff;
	font-size:20px;
}
.login .container{
	width:320px;height:250px;
	position:relative;
}
.login #login_1,.login #login_2{
	position:absolute;
	top:0px;
}
.login #login_2{
	display:none;
}
.login .other{
	width:320px;
	margin:0 auto;
}
.login .other p{
	margin:16px 0 10px ;
}